.racket {
  background: #22228f;
}
.php {
  background: #4f5d95;
}
.python {
  background: #3572A5;
}
.bash {
  background: #89e051;
}
.javascript {
  background: #f1e05a;
}
.html {
  background: #e44b23;
}
.css {
  background: #563d7c;
}
.typescript {
  background: #2b7489;
}
.java {
  background: #b07219;
}

.card-link {
  position: relative;
}
