---
layout: default
sitemap:
  changefreq: weekly
---

{% if page.grouptype == 'tag' %}
  {% assign loop = site.tags.[page.tag] %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
          <h1 class="article-title">Tag: {{ page.title }}</h1>
        </div>
      </div>
    </div>
  </header>
{% endif %}

<div class="container content">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <ul class="post-list">
        {% for post in site.posts %}
          {% include post-summary.html %}
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
