---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <img src="{{site.url}}/static/img/cover.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="{{site.url}}/static/img/profile.jpg" alt="" class="rounded-circle mx-auto" width="250" height="250" style="margin-top: -125px;">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Rhys Bower</h1>
      <h6 class="text-center pb-3">Making the world a better place.</h6>
      <p>I am a developer at heart and love building tools that make the world a better place. There is nothing greater than breaking a hard problem down into small pieces, working and watching something amazing come to life.</p>
      <p>When I’m not working, I am usually riding my bike or swimming, mostly so I can cook and eat some delicious food (if I say so myself).</p>
      <p>I am excited about new opportunities in the tech industry. Feel free to say <a href="{{site.url}}/contact/">hello</a> if you would like to talk or learn more <a href="{{site.url}}/about/#experience">about me.</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Recent Projects <small><a href="{{site.url}}/projects/">See more</a></small></h3>
    </div>
  </div>
  <div class="row pb-3">
    {% for project in site.data.projects limit:4 %}
      {% include project_card.html project=project %}
    {% endfor %}
  </div>
  {% include call_to_action.html %}
</div>
