<div class="col-md-6 pb-3">
  <div class="card">
    <img class="card-img-top img-fluid" src="{{ include.project.img }}" alt="{{ include.project.img-alt }}">
    <div class="card-img-overlay card-inverse">
      <h4 class="card-title">{{ include.project.title }}</h4>
      <h6 class="card-subtitle">{{ include.project.subtitle }}</h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5 push-sm-7 text-sm-right col-md-12 push-md-0 text-md-left col-lg-5 push-lg-7 text-lg-right">
          <p class="card-text"><small class="text-muted">{{ include.project.dates }}</small></p>
        </div>
        <div class="col-sm-7 pull-sm-5 col-md-12 pull-md-0 col-lg-7 pull-lg-5">
          {% for language in include.project.languages %}
            <span class="badge badge-default badge-pill {{ language | downcase }}">{{ language }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      {% for line in include.project.description %}
        <li class="list-group-item">{{ line }}</li>
      {% endfor %}
    </ul>
    {% if include.project.links != nil %}
      <div class="card-block">
        {% for link in include.project.links %}
          <a href="{{ link.url }}" target="_blank" class="card-link">{{ link.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
