---
---
.racket {
  background: #22228f;
}
.php {
  background: #4f5d95;
}
.python {
  background: #3572A5;
}
.bash {
  background: #89e051;
}
.javascript {
  background: #f1e05a;
}
.html {
  background: #e44b23;
}
.css {
  background: #563d7c;
}
.typescript {
  background: #2b7489;
}
.java {
  background: #b07219;
}
.actionscript {
  background: #882B0F;
}

.card-link {
  position: relative;
}

.card-img-overlay {
  background: linear-gradient(rgba(65, 90, 119, 0.8), rgba(65, 90, 119, 0.0) 90px);
}

.cover {
  width: 100%;
  height: 350px;
  background-image: url({{site.url}}/static/img/cover.jpg);
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .cover {
        background-image:url({{site.url}}/static/img/cover@2x.jpg);
        background-size: cover;
    }
}

.bg-main {
  background-color: #425a76;
  color: #f7f7f7;
}
