/**************************
* Custom CSS
**************************/

.navbar {
  background: rgba(157, 197, 236, 0.7);
  border-bottom-color: #03A9F4;
  border-bottom-width: 5px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.55s ease;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #03A9F4;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.site-footer {
  position: relative;
}

.footer-info {
  position: relative;
  background: #1A237E;
  color: #DDD;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-info-container {
  position: relative;
}

.footer-copyright {
  position: relative;
  background: #3F51B5;
  color: #DDD;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.img-responsive {
  border-radius: 10px;
}