---
layout: default
grouptype: home
sitemap:
  changefreq: weekly
  priority: 1.0
---

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4">
        <h1>Rhys Bower</h1>
        <div class="tagline">Student and Developer</div>
      </div>
    </div>
  </div>
</header>

<div class="container content">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2">

      {% for post in site.posts %}
        {% include post-summary.html %}
      {% endfor %}

    </div>
  </div>
</div>
