---
layout: default
title: About
---
<div class="container">
  <div class="row py-3">
    {% include sidebar.html %}
    <div class="col-md-9">
      <h3>More About Me</h3>
      <p>I am a developer at heart and love building tools that make the world a better place. There is nothing greater than breaking a hard problem down into small pieces, working and watching something amazing come to life.</p>
      <p>When I’m not working, I am usually riding my bike or swimming, mostly so I can cook and eat some delicious food (if I say so myself).</p>
      <p>I am excited about new opportunities in the tech industry. Feel free to say <a href="{{site.url}}/contact/">hello</a> if you would like to talk.</p>
      <p>I also have <a href="{{site.url}}/files/RhysBower-Resume.pdf" target="_blank">resume</a> available for download.</p>
      <h3 id="experience">Experience</h3>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Software Developer</h4>
          <h6 class="card-subtitle">RedMane Technology Canada</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 order-sm-7 text-sm-right col-md-12 order-md-0 text-md-left col-lg-5 order-lg-7 text-lg-right">
              <p class="card-text"><small class="text-muted">May 2018 - Present</small></p>
            </div>
            <div class="col-sm-7 order-sm-5 col-md-12 order-md-0 col-lg-7 order-lg-5">
              <span class="badge badge-default badge-pill java">Java</span>
              <span class="badge badge-default badge-pill csharp">C#</span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Identified a critical security vulnerability and developed an approach to address the root cause.</li>
          <li class="list-group-item">Designing and implementing a system for automating UI tests of mCase, a case management system, with another developer.</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Server Admin & Teaching Assistant</h4>
          <h6 class="card-subtitle">The University of British Columbia</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 order-sm-7 text-sm-right col-md-12 order-md-0 text-md-left col-lg-5 order-lg-7 text-lg-right">
              <p class="card-text"><small class="text-muted">May 2016 - Apr 2018</small></p>
            </div>
            <div class="col-sm-7 order-sm-5 col-md-12 order-md-0 col-lg-7 order-lg-5">
              <span class="badge badge-default badge-pill racket">Racket</span>
              <span class="badge badge-default badge-pill php">PHP</span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Manage server infrastructure to ensure up-time of assignment submission service for over 4,000 students.</li>
          <li class="list-group-item">Extended web portal for course staff to publish graded files for students to download and view (PHP, Racket).</li>
          <li class="list-group-item">Instruct and evaluate weekly labs to provide students with an opportunity to apply lecture material.</li>
          <li class="list-group-item">Assisted instructors during lecture by answering questions and guiding students through problems.</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Software Developer</h4>
          <h6 class="card-subtitle">The University of British Columbia</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 order-sm-7 text-sm-right col-md-12 order-md-0 text-md-left col-lg-5 order-lg-7 text-lg-right">
              <p class="card-text"><small class="text-muted">May 2017 - Aug 2017</small></p>
            </div>
            <div class="col-sm-7 order-sm-5 col-md-12 order-md-0 col-lg-7 order-lg-5">
              <span class="badge badge-default badge-pill javascript">JavaScript</span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Engineered a&nbsp;<a href="https://github.com/celinaberg/BitFit">web app</a>&nbsp;to teach the C programming language using Node and MongoDB.</li>
          <li class="list-group-item">Integrated with the UBC single sign on service using SAML for authentication and LDAP for authorization.</li>
          <li class="list-group-item">Rewrote frontend client using React and Redux to maintain data consistency throughout the application lifecycle and Flow to reduce type errors.</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Software Developer & Co-Founder</h4>
          <h6 class="card-subtitle">Cific</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 order-sm-7 text-sm-right col-md-12 order-md-0 text-md-left col-lg-5 order-lg-7 text-lg-right">
              <p class="card-text"><small class="text-muted">Aug 2016 - July 2017</small></p>
            </div>
            <div class="col-sm-7 order-sm-5 col-md-12 order-md-0 col-lg-7 order-lg-5">
              <span class="badge badge-default badge-pill php">PHP</span>
              <span class="badge badge-default badge-pill javascript">JavaScript</span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Wrote a PHP backend to parse hundreds of inventory items from internal management systems and display on website with easy search interface for company dealers.</li>
          <li class="list-group-item">Created a cross platform iOS and Android app using the Ionic framework with specific focus on authentication with Firebase and payment integration with Stripe and the App Store.</li>
          <li class="list-group-item">Designed a marketing website to promote the launch of new client programs.</li>
        </ul>
      </div>
      <h3 class="pt-3">Education</h3>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Bachelor of Science (B.Sc.), Major Computer Science</h4>
          <h6 class="card-subtitle">The University of British Columbia</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 order-sm-7 text-sm-right col-md-12 order-md-0 text-md-left col-lg-5 order-lg-7 text-lg-right">
              <p class="card-text"><small class="text-muted">Sep 2015 - Apr 2018</small></p>
            </div>
            <div class="col-sm-7 order-sm-5 col-md-12 order-md-0 col-lg-7 order-lg-5">
              <span class="badge badge-default badge-pill racket">Racket</span>
              <span class="badge badge-default badge-pill java">Java</span>
              <span class="badge badge-default badge-pill typescript">TypeScript</span>
              <span class="badge badge-default badge-pill php">PHP</span>
              <span class="badge badge-default badge-pill sql">SQL</span>
              <span class="badge badge-default badge-pill python">Python</span>
            </div>
          </div>
        </div>
      </div>
      {% include call_to_action.html %}
    </div>
  </div>
</div>
