<nav class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a href="{{ "/" | prepend: site.baseurl }}"><img alt="Rhys Bower" class="head-shot img-responsive" src="{{ "/img/profile.jpg" | prepend: site.baseurl }}"></a>
      </div>
      <div class="col-sx-8">
        <ul>
          <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ "/portfolio.html" | prepend: site.baseurl }}">Portfolio</a></li>
      </ul>
      </div>
    </div>
  </div>
</nav>