<nav class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a href="{{ "/" | prepend: site.url }}"><img alt="Rhys Bower" class="head-shot img-responsive" src="{{ "/img/profile.jpg" | prepend: site.url }}"></a>
      </div>
      <div class="col-xs-8 nav-bar">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="{{ "/" | prepend: site.url }}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{ "/portfolio/" | prepend: site.url }}" class="nav-link">Portfolio</a>
          </li>
      </ul>
      </div>
    </div>
  </div>
</nav>