.footer-info {
  background: #FFF;
  color: #000;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #eeeeee;
}

.footer-copyright {
  background: #FFF;
  color: #000;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-top: 1px solid #eeeeee;
}

.map {
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  font-size: 48px;
}

.about-me {
  text-align: left;
}