.main-nav {
  background: #9dc5ec;
  border-bottom-color: #03A9F4;
  border-bottom-width: 5px;
  height: 100px;
}
.nav-left {
  width: 49%;
}
.nav-right {
  width: 50%;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}