<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title == nil %}
		  <title>Rhys Bower</title>
    {% else %}
      <title>{{page.title}} – Rhys Bower</title>
    {% endif %}

    <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.url}}/css/main.css">
  </head>
	<body>
    <div class="bg-faded">
      <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{{site.url}}">
            <img src="{{site.url}}/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Rhys Bower
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{site.url}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{site.url}}/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{site.url}}/projects/">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{site.url}}/contact/">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-right">
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rhysbower/" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/RhysBower" target="_blank"><i class="fa fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/bower.rhys" target="_blank"><i class="fa fa-facebook-official"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:rhys.bower@alumni.ubc.ca" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    {{ content }}

    <div class="bg-faded">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Rhys Bower</h4>
            <h6>Making the world a better place.</h6>
            <small>Rhys Bower &copy; 2017</small>
          </div>
          <div class="col-md-4">
            <h4>More about me</h4>
            <div class="list-group">
              <a class="list-group-item list-group-item-action" href="{{site.url}}">Home <span class="sr-only">(current)</span></a>
              <a class="list-group-item list-group-item-action" href="{{site.url}}/about/">About</a>
              <a class="list-group-item list-group-item-action" href="{{site.url}}/projects/">Projects</a>
              <a class="list-group-item list-group-item-action" href="{{site.url}}/contact/">Contact</a>
            </div>
          </div>
          <div class="col-md-4">
            <h4>Connect with me</h4>
            <div class="list-group">
              <a href="https://www.linkedin.com/in/rhysbower/" target="_blank" class="list-group-item list-group-item-action"><i class="fa fa-linkedin fa-fw"></i>&nbsp;LinkedIn</a>
              <a href="https://github.com/RhysBower" target="_blank" class="list-group-item list-group-item-action"><i class="fa fa-github fa-fw"></i>&nbsp;GitHub</a>
              <a href="https://www.facebook.com/bower.rhys" target="_blank" class="list-group-item list-group-item-action"><i class="fa fa-facebook-official fa-fw"></i>&nbsp;Facebook</a>
              <a href="mailto:rhys.bower@alumni.ubc.ca" class="list-group-item list-group-item-action"><i class="fa fa-envelope fa-fw"></i>&nbsp;Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>
