<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title == nil %}
		  <title>Rhys Bower</title>
    {% else %}
      <title>{{page.title}} – Rhys Bower</title>
    {% endif %}

		{% include metadata.html %}

    <link rel="stylesheet" href="{{site.url}}/static/css/main.css">
  </head>
	<body>
    <div class="bg-light">
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
          <a class="navbar-brand" href="{{site.url}}">
            <img src="{{site.url}}/static/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Rhys Bower
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if page.path == 'index.html' %}active{% endif %}">
                <a class="nav-link" href="{{site.url}}">Home{% if page.path == 'index.html' %} <span class="sr-only"> (current)</span>{% endif %}</a>
              </li>
              <li class="nav-item {% if page.path == 'about/index.html' %}active{% endif %}">
                <a class="nav-link" href="{{site.url}}/about/">About{% if page.path == 'about.html' %} <span class="sr-only"> (current)</span>{% endif %}</a>
              </li>
              <li class="nav-item {% if page.path == 'projects/index.html' %}active{% endif %}">
                <a class="nav-link" href="{{site.url}}/projects/">Projects{% if page.path == 'projects.html' %} <span class="sr-only"> (current)</span>{% endif %}</a>
              </li>
              <li class="nav-item {% if page.path == 'contact/index.html' %}active{% endif %}">
                <a class="nav-link" href="{{site.url}}/contact/">Contact{% if page.path == 'contact.html' %} <span class="sr-only"> (current)</span>{% endif %}</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-right d-sm-none d-lg-flex">
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rhysbower/" target="_blank" rel="noopener"><i class="fa fa-fw fa-linkedin"></i><span class="hidden-md-up"> LinkedIn</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/RhysBower" target="_blank" rel="noopener"><i class="fa fa-fw fa-github"></i><span class="hidden-md-up"> GitHub</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:rhys.bower@alumni.ubc.ca" target="_blank" rel="noopener"><i class="fa fa-fw fa-envelope"></i><span class="hidden-md-up"> Email</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    {{ content }}

    <div class="bg-primary text-faded">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-4 mb-3">
            <h4>Rhys Bower</h4>
            <h6>{{site.tagline}}</h6>
            <small>&copy; 2019 Rhys Bower</small>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <h4>Connect with Me</h4>
            <div class="list-group">
              <a href="https://www.linkedin.com/in/rhysbower/" target="_blank" rel="noopener" class="list-group-item list-group-item-action"><i class="fa fa-linkedin fa-fw"></i>&nbsp;LinkedIn</a>
              <a href="mailto:rhys.bower@alumni.ubc.ca" rel="noopener" class="list-group-item list-group-item-action"><i class="fa fa-envelope fa-fw"></i>&nbsp;Email</a>
            </div>
          </div>
          <div class="col-md-4">
            <h4>My Work</h4>
            <div class="list-group">
              <a href="https://github.com/RhysBower" target="_blank" rel="noopener" class="list-group-item list-group-item-action"><i class="fa fa-github fa-fw"></i>&nbsp;GitHub</a>
							<a href="{{site.url}}/files/RhysBower-Resume.pdf" target="_blank" rel="noopener" class="list-group-item list-group-item-action"><i class="fa fa-file-pdf-o fa-fw"></i>&nbsp;Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{site.url}}/lib/jquery-3.3.1.slim.min.js"></script>
    <script src="{{site.url}}/lib/popper-1.14.7.min.js"></script>
    <script src="{{site.url}}/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
	</body>
</html>
